body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#game {
    display: block;
}

.Tabuleiro {
    display: block;
    min-width: 256px;
    min-height: 256px;
    border: 8px solid #505050;
    padding: 8px;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.celula {
    width: 64px;
    height: 64px;
    border: 0;
    padding: 2px;
}
